@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
  
}

:root{
    --primary-color:#FCD34D;
    --secondary-color:#DC2626;
    --third-color:#92400E;
    --primary-font:'Playfair Display', serif;
    --secondary-font:'Oswald', sans-serif;
}
/*Navigation Bar*/
nav{
    position: relative;
    background-color: var(--primary-color);
    padding: 35px 10px;
    border-radius: 20px;
}
nav h1{
    font-family: var(--primary-font);
    font-size: 30px;
    color: var(--third-color);
}
nav .lit{
    font-family: var(--primary-font);
    font-size: 30px;
    color: var(--secondary-color);
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 20px;
    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: bold;
}

nav ul li{
    padding: 10px;
    display: inline;
}

nav a{
    color: var(--third-color);
}
a:hover{
  color:var(--secondary-color);
}
hero #translate-options{
    position: relative;
    width: 200px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 14px;
    background-color: transparent;
    border: 2px solid var(--third-color);
    cursor: pointer;
    display: block;
    outline: 0px;
}
hero #text-input{
    position: relative;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    width: 400px;
    padding: 20px;
   border-radius: 10px;
   border: 2px solid var(--third-color);
   display: block;
   outline: 0px;
}
hero button{
    position: relative;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
  display: block;
    font-size: 16px;
    font-weight: bold;
    color: var(--third-color);
    background-color: var(--primary-color);
    cursor: pointer;
    outline: 0px;
   
}
hero .lit{
    color: var(--secondary-color);
}
hero #text-output{
    position: relative;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    padding: 20px;
   border-radius: 10px;
   border: 2px solid var(--third-color);
   display: block;
   outline: 0px;
}

footer{
    position: absolute;
     width: 100%;
    background-color: var(--primary-color);
    border-radius: 20px;
}
 footer h1{
     text-align: center;
     padding: 5px;
    font-family: var(--primary-font);
   color: var(--third-color);
    font-weight: bold;
    font-size: 36px;
    
 }
 footer .lit{
    color: var(--secondary-color);
}
footer li{
     text-align: center;
}
footer img{
    max-width: 100px;
}

.tenor-gif-embed{
    position:absolute;
    bottom: 175px;
    left: 100px;
    max-width: 80px;
    outline: 0px;
}